//LOCAL VARIABLES

    //LOGO ICEBERG
    $width-logo-iceberg: 100px;
    $backgroundcolor-logo-iceberg: #f6f6f6;
    $border-logo-iceberg: solid 2px #f6f6f6;
    $borderradius-logo-iceberg: 50%;

    //TITULO TEXTO
    $font-size-titulo:60px/2;
    $letter-spacing-titulo: $font-size-titulo/6; //OPERACIONES

