/* LOCAL STYLES */

@import "local-scss/local-variables";
@import "local-scss/local-mixins";

#titulo-texto{
    font-family: 'Jura', sans-serif;
    color: #c7c7c7;
    font-size: $font-size-titulo;
    letter-spacing: $letter-spacing-titulo;
}

#img-iceberg{
    width:$width-logo-iceberg;
    background-color: $backgroundcolor-logo-iceberg;
    border-radius: $borderradius-logo-iceberg;
    border: $border-logo-iceberg;
}

#carousel-cabecera {
    @include max-size-carousel(1050px, 440px);
}